@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "frdog";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0.001 106.423);
    --color-base-300: oklch(97% 0.001 106.424);
    --color-base-content: rgba(32, 32, 32, 1);
    --color-primary: rgba(0, 201, 80, 1);
    --color-primary-content: oklch(97% 0.014 308.299);
    --color-secondary: rgba(13, 84, 43, 1);
    --color-secondary-content: oklch(98% 0.019 200.873);
    --color-accent: rgba(255, 105, 0, 1);
    --color-accent-content: oklch(98% 0.016 73.684);
    --color-neutral: oklch(97% 0 0);
    --color-neutral-content: oklch(14% 0.004 49.25);
    --color-info: oklch(96% 0.007 247.896);
    --color-info-content: oklch(20% 0.042 265.755);
    --color-success: oklch(68% 0.169 237.323);
    --color-success-content: oklch(97% 0.013 236.62);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(27% 0.077 45.635);
    --color-error: oklch(50% 0.213 27.518);
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.21875rem;
    --size-field: 0.21875rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}

@theme {
    --color-app-primary: #00C950;
    --color-app-primary-light: #10D960;
    --color-app-primary-dark: #0D542B;
    --color-app-primary-darkest: #032E15;
    --color-app-secondary: #FF6900;
    --color-app-secondary-light: #E0AE09;
    --color-app-secondary-dark: #7E2A0C;
    --color-app-content-light: #FFFFFF;
    --color-app-content-dark: #202020;
    --color-app-detail: #606060;
    --color-app-bg: oklch(97% 0.001 106.424); /* Stone 100 */
    --color-app-bg-dark: oklch(92.3% 0.003 48.717); /* Stone 200 */

    --radius-app-default: 10px;
    --radius-app-big: 20px;

    --shadow-app-neutral: 0px 2px 6px -1px rgba(0, 0, 0, 0.3);
    --shadow-app-colored: 0px 2px 6px -1px rgba(var(--color-primary-darkest) 0.4);

    --text-heading-1: 36px;
    --text-heading-2: 30px;
    --text-heading-3: 24px;
    --text-heading-4: 20px;
    --text-body-1: 18px;
    --text-body-2: 16px;
    --text-body-3: 14px;
    --text-body-4: 12px;

    --font-roboto: "Roboto", sans-serif;
    --font-montserrat: "Montserrat", "Roboto", sans-serif;
}

@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

@layer utilities {
    .app-bg-primary {
        @apply text-app-content-light font-medium bg-linear-to-r from-app-primary via-app-primary-light to-app-primary;
    }

    .app-bg-secondary {
        @apply text-app-content-light font-medium bg-linear-to-r from-app-secondary via-app-secondary-light to-app-secondary;
    }
}

@layer components {
    /* 
     .app-btn {
        @apply text-white text-lg font-medium py-2.5 bg-linear-to-r from-[#00C950] via-[#10D960] to-[#00C950]  rounded-[10px] shadow-lg cursor-pointer hover:brightness-95;
    }
  
    .app-btn-cadastro {
        @apply text-white text-lg font-medium py-1.5 bg-linear-to-r from-[#FF6900] via-[#FF7C21] to-[#FF6900] rounded-[10px] shadow-lg cursor-pointer hover:brightness-95;
    }
    .primary-colors {
        @apply text-white font-medium bg-linear-to-r from-[#00C950] via-[#10D960] to-[#00C950];
    } */
}

html {
    font-family: var(--font-roboto);
    color: var(--color-content-dark);
}
