@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "frdog";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0.001 106.423);
    --color-base-300: oklch(97% 0.001 106.424);
    --color-base-content: rgba(32, 32, 32, 1);
    --color-primary: rgba(0, 201, 80, 1);
    --color-primary-content: oklch(97% 0.014 308.299);
    --color-secondary: rgba(13, 84, 43, 1);
    --color-secondary-content: oklch(98% 0.019 200.873);
    --color-accent: rgba(255, 105, 0, 1);
    --color-accent-content: oklch(98% 0.016 73.684);
    --color-neutral: oklch(97% 0 0);
    --color-neutral-content: oklch(14% 0.004 49.25);
    --color-info: oklch(96% 0.007 247.896);
    --color-info-content: oklch(20% 0.042 265.755);
    --color-success: oklch(68% 0.169 237.323);
    --color-success-content: oklch(97% 0.013 236.62);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(27% 0.077 45.635);
    --color-error: oklch(50% 0.213 27.518);
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.21875rem;
    --size-field: 0.21875rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}
